[package]
name = "cyfs-perf-base"
version = "0.5.0"
authors = ["wangzhi <wangzhi@buckyos.com>"]
edition = "2021"
license = "BSD-2-Clause"
description = "Rust cyfs-perf-base package"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
protoc-rust = "2"
protoc-bin-vendored = "3"

[dependencies]
cyfs-base = { path = "../../../component/cyfs-base", version = "0.5" }
cyfs-core = { path = "../../../component/cyfs-core", version = "0.5" }
cyfs-lib = { path = "../../../component/cyfs-lib", version = "0.5" }
cyfs-util = { path = "../../../component/cyfs-util", version = "0.5" }
log = "0.4"
int-enum = "0.4"
protobuf = { version = "2", features = ["with-bytes"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
async-std = { version = "1.11", features = ["attributes"] }
