[package]
name = "cyfs-meta"
version = "0.5.0"
authors = ["liuzhicong <liuzhicong@buckyos.com>"]
edition = "2018"
resolver = "2"
license = "BSD-2-Clause"
description = "Rust cyfs-meta package"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.53"
cyfs-base = { path = "../../component/cyfs-base"}
cyfs-base-meta = { path = "../../component/cyfs-base-meta"}
cyfs-core = { path = "../../component/cyfs-core"}
cyfs-util = { path = "../../component/cyfs-util"}
byteorder = "1.3.4"
log = "0.4"
serde_json = "1.0"
base64 = "0.13"
sha2 = "0.8.1"
generic-array = { version = "0.12", default-features = false, features = [
    "serde",
] }
serde = { version = "1.0", features = ["derive"] }
hex = "0.4.2"
chrono = "0.4"
timer = "0.2.0"
async-h1 = "2.3.3"
http-types = "2.12"
futures = "0.3"
libsqlite3-sys = "0.24"
rand=  "0.8"
lazy_static = "1.4"
tide = "0.16"
evm = { path = "../../3rd/evm" }
primitive-types = { version = "0.9", default-features = false, features = [
    "rlp",
] }
base58 = "0.2.0"
sqlx = { version = "0.5.11", features = ["runtime-async-std-rustls", "sqlite", "chrono"] }

async-std = { version = "1.11", features = ["unstable"]}
