[package]
name = "cyfs-meta-spv"
version = "0.5.0"
authors = ["wugren <wuguoren@buckyos.com>"]
edition = "2018"
resolver = "2"
license = "BSD-2-Clause"
description = "Rust cyfs-meta-spv package"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cyfs-base={path="../../component/cyfs-base", version = "0.5"}
cyfs-base-meta={path="../../component/cyfs-base-meta", version = "0.5"}
cyfs-meta-lib = {path="../../component/cyfs-meta-lib", version = "0.5"}
cyfs-debug = {path="../../component/cyfs-debug", version = "0.5"}
ethabi = { version = "14.0.0", path = "../../3rd/ethabi" }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
async-std = "1.11"
libsqlite3-sys = "0.24"
async-trait = "0.1.53"
log = "0.4"
tide = "0.16"
hex = "0.4.2"
base58 = "0.2.0"
clap = "2.34.0"


[target.'cfg(all(target_os="windows", target_env = "gnu"))'.dependencies]
sqlx = { version = "0.5.11", features = [ "runtime-async-std-native-tls", "sqlite" ] }

[target.'cfg(any(not(target_os="windows"), not(target_env = "gnu")))'.dependencies]
sqlx = { version = "0.5.11", features = [ "runtime-async-std-rustls", "sqlite" ] }
