dist
node_modules
.vscode
.idea
yarn.lock
.projectile
.DS_Store
src/.idea/
build/

.svn
.hg
.lock-wscript
.*.swp
._*
*.orig
*-lock.json
.tern-port
npm-debug.log
aws-exports.js
awsmobilejs/
.bucky
.dist
*.log
/pkg
/src/github.com/
/src/golang.org
.VSCodeCounter
/log/
