[package]
name = "browser-meta-spv"
version = "0.5.0"
edition = "2018"
license = "BSD-2-Clause"
description = "Rust browser-meta-spv package"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cyfs-base= {path="../../component/cyfs-base"}
cyfs-base-meta= {path="../../component/cyfs-base-meta"}
cyfs-meta-lib= {path="../../component/cyfs-meta-lib"}
cyfs-debug= {path="../../component/cyfs-debug"}
async-std = { version = "1.11", features = ["attributes"] }
async-trait = "0.1.53"
sqlx = { version = "0.5.11", features = [ "runtime-async-std-rustls", "sqlite", "mysql" ] }
toml = "0.5"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
once_cell = "1.12"
tide = "0.16"
hex = "0.4"
